.button-container button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20vw;
}

.button-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 65vh;
}
