.history-container {
    background: rgba(255, 0, 0, 0.2);
    height: 70vh;
    width: 80vw;
    border-radius: 2rem;
    padding: 1rem;
}

table.historylist {
    margin: auto;
    overflow: scroll;
    width: 90vw;
    height: 10rem;
    border: 0.3rem solid rgba(233, 146, 227, 0.3);
    border-radius: 3rem;
    padding-top: 1rem;
}

tr {
    font-size: 5vw;
    margin: auto;
    width: 70vw;
    display: table;
    table-layout: fixed;
}

td {
    padding-top: 1rem;
}

td.date,
td.emoji,
td.reflection {
    white-space: nowrap;
    display: inline-block;
}

td.emoji {
    font-size: 5rem;
}

td.reflection {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(80%);
}
