.history-container {
    background: rgba(255, 0, 0, 0.2);
    height: 70vh;
    width: 80vw;
    border-radius: 2rem;
    padding: 1rem;
}

table.historylist {
    display: block;
    margin: auto;
    overflow-y: auto;
    border-collapse: collapse;
    width: 90vw;
    height: 75vh;
    border: 0.5rem outset rgba(233, 146, 227, 0.3);
    border-radius: 3rem;
    padding-top: 1rem;
}

tr {
    font-size: 5vw;
    width: 80vw;
    display: table;
    table-layout: fixed;
}

td {
    padding-top: 1rem;
}

td.date,
td.emoji,
td.reflection {
    white-space: nowrap;
    display: block;
    margin: auto;
}

span.emoji {
    display: inline;
    font-size: 5rem;
    padding-right: 2rem;
}

td.reflection {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(80%);
}

.detail-container {
    border-radius: 3rem;
    margin: 1rem;
    background-color: rgba(220, 28, 146, 0.391);
}
